@tailwind base;
@tailwind components;
@tailwind utilities;


.headerShadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button, a {
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
    }
    &:hover {
      opacity: 0.75;
    }
    &:focus {
      outline: none;
    }
  }

 
  @font-face {
    font-family: helveticaNeue;
    src: url(../public/fonts/helveticaNeue/HelveticaNeue-light.otf);                
    font-weight: 300;
  }
  
  @font-face {
    font-family: helveticaNeue;
    src: url(../public/fonts/helveticaNeue/HelveticaNeue-regullar.otf);                
    font-weight: 400;
  }
  
  @font-face {
    font-family: helveticaNeue;
    src: url(../public/fonts/helveticaNeue/HelveticaNeue-medium.otf);                
    font-weight: 500;
  }
  
  @font-face {
    font-family: helveticaNeue;
    src: url(../public/fonts/helveticaNeue/HelveticaNeue-semibold.otf);                
    font-weight: 600;
  }
  
  @font-face {
    font-family: helveticaNeue;
    src: url(../public/fonts/helveticaNeue/HelveticaNeue-bold.otf);                
    font-weight: 700;
  }
  
  .poppins {
    font-family: helveticaNeue;
  }

  .shadowSort {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
  }

  .shadowMobSort {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
    @media (max-width: 767px) {
      box-shadow: 0px 0px 0px 0px;
    }
  }